#### This notebook presents the exercises for the Module 6 peer reviewed assignement of "Tools for Data Science". Notes like this are in H4 heading, exercise titles are in H3.

### Exercise 2: Create a markdown cell with the title of the notebook

# Data Science Tools and Ecosystem

This is the verbatim command:
```
# Data Science Tools and Ecosystem
```

### Exercise 3: Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

### Exercise 4: Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++

### Exercise 5: Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Keras
4. SciPy

### Exercise 6: Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|---|
| Jupyter |
| R Studio |
| Visual Studio Code |

### Exercise 7:  Create a markdown cell introducing arithmetic expression examples

Below are a few examples of evaluating arithmetic expressions in Python.

### Exercise 8: Create a code cell to multiply and add numbers

In [13]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

### Exercise 9: Create a code cell to convert minutes to hours

In [15]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(f'hours:{hours}')

hours:3.3333333333333335

### Exercise 10: Insert a markdown cell to list Objectives

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List data science languages
- List data science libraries
- List data science development environments
- Create headings, tables, comments, and lists
- Create simple arithmetic expressions

### Exercise 11: Create a markdown cell to indicate the Author's name

## Author
Emanuele Valpreda